{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact | Domnoo Restaurant & Pizza HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/fav2.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/fav2.ico'%}" type="image/x-icon">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- color stylesheet -->
    <link rel="stylesheet" href="{% static 'css/colors.css'%}" id="ui-theme-color">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>
<body>
	<div class="loader_wrapper">
        <div class="loader">
			<img src="{% static 'images/loader.gif'%}" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

	<div id="wrapper">
		<header class="new-block main-header">
			<div class="main-nav new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="logo">
								<a href="index.html"><img src="{% static 'images/logo.png'%}" alt="logo" class="img-responsive"></a>
							</div>
							<div class="location-block">
								<p>Austrlia</p>
								<span>+00 123 456 789</span>
							</div>
							<a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav">
								<ul class="list-unstyled">
									<li class="drop active"><a href="{% url 'home' %}">Home</a>
										<ul class="drop-down">
										</ul>
									</li>
									<li class="drop"><a href="#">Menu</a>
										<ul class="drop-down">
                                            {% for rs in category %}
											<li><a href="{% url 'category_product' rs.id rs.slug %}">{{ rs.title }}</a></li>
                                            {% endfor %}
										</ul>
									</li>
{#									<li class="drop"><a href="#">Pages</a>#}
{#										<ul class="drop-down">#}
{#											<li><a href="menu.html">Menu</a></li>#}
{#											<li><a href="about_us.html">About</a></li>#}
{#											<li><a href="blog.html">Blog</a></li>#}
{#											<li><a href="blog_left.html">Blog left</a></li>#}
{#											<li><a href="blog_right.html">Blog right</a></li>#}
{#											<li><a href="blog_single.html">Single blog</a></li>#}
{#											<li><a href="contact.html">Contact us</a></li>#}
{#											<li><a href="product_single.html">Product single</a></li>#}
{#											<li><a href="shopping_cart.html">Cart page</a></li>#}
{#										</ul>#}
{#									</li>#}
{#									<li><a href="#">Meals</a></li>#}
{#									<li><a href="#">Pizza</a></li>#}
									<li><a href="{% url 'aboutus' %}">About</a></li>
									<li class="drop"><a href="{% url 'blog' %}">Blog</a>
{#										<ul class="drop-down">#}
{#											<li><a href="blog.html">Blog</a></li>#}
{#											<li><a href="blog_left.html">Blog left</a></li>#}
{#											<li><a href="blog_right.html">Blog right</a></li>#}
{#											<li><a href="blog_single.html">Single blog</a></li>#}
{#										</ul>#}
									</li>
{#									<li><a href="#">Location</a></li>#}
{#									<li><a href="contact.html">Contact Us</a></li>#}
{#									<li><a href="#">Login/Signup</a></li>#}
								</ul>
							</nav>
							<div class="nav-right-block">
								<ul class="list-unstyled">
									<li><a href="#"><i class="flaticon-scooter-front-view"></i><span class="nav-price">$00.00</span></a></li>
								</ul>
							</div><!-- nav-login -->
						</div>
					</div>
				</div>
			</div>
		</header> <!-- header -->

		<section class="page-info new-block">
			<div class="fixed-bg" style="background: url('{% static 'images/info-bg.jpg'%}');"></div>
			<div class="overlay"></div>
			<div class="container">
				<h2>Domnoo menu</h2>
				<div class="clear-fix"></div>
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="#">Home</a></li>
				  <li class="breadcrumb-item active"><a href="{% url 'aboutus' %}">About us</a></li>
				</ol>
			</div>
		</section><!-- banner -->

        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d135.97790867583396!2d69.2961473832355!3d41.364562330537005!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38aef3083b0bf989%3A0xda4151178d6c8c81!2sELEGANT%20STUDY!5e1!3m2!1suz!2s!4v1639138553082!5m2!1suz!2s" width="1350" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>


		<div class="center-wrapper cn-us new-block">
			<div class="fixed-bg parallax" style="background: url('{% static 'images/ptrn1.jpg'%}');"></div>
			<div class="overlay"></div>
			<div class="send-msg new-block">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 col-md-4">
							<div class="block-stl11">
								<i class="flaticon-placeholder"></i>
								<p>PO Box 16122 Collins Street West Victoria 8007 Australia</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="block-stl11">
								<i class="flaticon-phone-call"></i>
								<p>+01 123 456 789 <br>+01 987 654 321</p>
							</div>
						</div>
						<div class="col-lg-4 col-md-4">
							<div class="block-stl11">
								<i class="flaticon-message"></i>
								<p>mail@domnoo.com <br>mail@domnoo.com</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="form-block1">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="title">
								<h2>Send us a messages</h2>
								<p class="bottom-p">Sed scelerisque, ipsum in rutrum gravida, odio eros maximus erat, varius pretium tellus <br> eros et quam. Vivamus interdum ligula vitae dui pulvinar congue. Aliquam faucibus</p>	
							</div>
						</div>
						<div class="clearfix"></div>
						<form action="#" method="post">
                            {% csrf_token %}
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text"  name="name" placeholder="Name" class="form-control">
								</div>	
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="surname" placeholder="Last Name" class="form-control">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="phone" placeholder="Contact Number" class="form-control">
								</div>
							</div>
							<div class="col-lg-6 col-md-6">
								<div class="form-group">
									<input type="text" name="email" placeholder="Email id" class="form-control">
								</div>
							</div>
							<div class="col-lg-12 col-md-12">
								<div class="form-group">
									<textarea class="form-control" name="message" placeholder="Write your messages.."></textarea>
								</div>
							</div>
							<div class="col-lg-12 col-md-12 text-center">
								<input type="submit" class="btn btn3" value="Send message">
							</div>
						</form>
					</div>
				</div>
			</div>
				
		</div>



		<footer class="main-footer new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="footer-head">
							<h3>About Us :</h3>
						</div>
						<div class="footer-content">
							<p>Donec tincidunt, augue a convallis cursus, sapien eros efficitur sem in placerat sapien est nec quam.</p>
							<a href="#" class="link">Read More</a>
							<ul class="list-unstyled card-block">
								<li><a href="#"><img src="{% static 'images/crt1.png' %}" alt=""></a></li>
								<li><a href="#"><img src={% static '"images/crt2.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/crt3.png' %}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/crt4.png' %}" alt=""></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<div class="our-company">
							<div class="footer-head">
								<h3>Our Company :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#">New In</a></li>
									<li><a href="#">Pizza murgon</a></li>
									<li><a href="#">Burger king</a></li>
									<li><a href="#">Fried Chicken</a></li>
									<li><a href="#">Mocktail</a></li>
									<li><a href="#">Top Brands</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<div class="footer-head">
							<h3>Customer Care :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="flickr">
							<div class="footer-head">
								<h3>Get Flickr :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#"><img src="{% static 'images/Layer-12.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-13.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-14.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-15.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-16.png' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-17.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-18.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-19.jpg' %}" alt="" class="img-responsive"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copy-right">
			<div class="container">
				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
				<ul class="social-nav">
					<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-twitter"></i></a></li>
					<li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-behance"></i></a></li>
				</ul>
			</div>
		</div>
		
		<span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>

		<div class="theme-menu hide-sidebar">
			<h2>Choose your color</h2>
			<div id="style-switcher">
				<ul class="colors theme-btn">
					<li data-path="css/colors.css" data-url="images"> 
						<p class="btn clr-style" style="background:#c10a28;"></p>
					</li>
					<li data-path="css/colors2.css" data-url="images/clr2">
						<p class="btn clr-style" style="background:#f1b601;"></p>
					</li>
					<li data-path="css/colors3.css" data-url="images/clr3">
						<p class="btn clr-style" style="background:#0a84c1;"></p>
					</li>
					<li data-path="css/colors4.css" data-url="images/clr4"> 
						<p class="btn clr-style" style="background:#02a8aa;"></p>
					</li>
					<li data-path="css/colors5.css" data-url="images/clr5">
						<p class="btn clr-style" style="background:#db780d;"></p>
					</li>
					<li data-path="css/colors6.css" data-url="images/clr6">
						<p class="btn clr-style" style="background:#e54c04;"></p>
					</li>
				</ul>
			</div>
			<button class="btn btn-clr"><i class="fas fa-paint-brush"></i></button>
		</div>
	</div><!-- #wrapper -->


	<!-- include jQuery -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/bootstrap.min.html'%}"></script>
    <!-- bootstrap -->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <!-- slick slider  -->
	<script src="{% static 'js/slick.js'%}"></script>
	<!-- dscountdown  -->
	<script src="{% static 'js/dscountdown.min.js'%}"></script>
    <!-- jquery.nice-select -->
    <script src="{% static 'js/jquery.nice-select.js'%}"></script>
    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <!-- Mixitup -->
    <script src="{% static 'js/mixitup.min.js'%}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
	<script src="{% static 'js/map.js'%}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js'%}"></script>
</body>

</html>