{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Single | Domnoo Restaurant & Pizza HTML Template</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="{% static 'images/fav2.ico'%}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/fav2.ico'%}" type="image/x-icon">
    <!-- include the site stylesheet -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}">
    <!-- main stylesheet -->
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <!-- color stylesheet -->
    <link rel="stylesheet" href="{% static 'css/colors.css'%}" id="ui-theme-color">
    <!-- responsive css -->
    <link rel="stylesheet" href="{% static 'css/responsive.css'%}">
</head>
<body>
	<div class="loader_wrapper">
        <div class="loader">
			<img src="{% static 'images/loader.gif'%}" alt="" class="img-fluid">
        </div>
    </div>
    <!--// loader_wrapper -->

	<div id="wrapper">
		<header class="new-block main-header">
			<div class="main-nav new-block">
				<div class="container-fluid">
					<div class="row">
						<div class="col-lg-12">
							<div class="logo">
								<a href="{% url 'home'%}"><img src="{% static 'images/logo.png' %}" alt="logo" class="img-responsive"></a>
							</div>
							<div class="location-block">
								<p>Austrlia</p>
								<span>+00 123 456 789</span>
							</div>
							<a href="#" class="nav-opener"><i class="fa fa-bars"></i></a>
							<nav class="nav">
								<ul class="list-unstyled">
									<li class="drop active"><a href="{% url 'home'%}">Home</a></li>
									<li class="drop"><a href="#">Menu</a>
                                        <ul class="drop-down">
                                            {% for rs in category %}
											<li><a href="{% url 'category_product' rs.id rs.slug %}">{{ rs.title }}</a></li>
											{% endfor %}
										</ul>
                                    </li>
                                    <li><a href="about_us.html">About</a></li>
									<li class="drop"><a href="#">Blog</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
							</nav>
                        </div>
					</div>
				</div>
			</div>
		</header> <!-- header -->

		<section class="page-info new-block">
			<div class="fixed-bg" style="background: url('{% static 'images/info-bg.jpg'%}');"></div>
			<div class="overlay"></div>
			<div class="container">
				<h2>Domnoo menu</h2>
				<div class="clear-fix"></div>
				<ol class="breadcrumb">
				  <li class="breadcrumb-item"><a href="#">Home</a></li>
				  <li class="breadcrumb-item active"><a href="#">Menu</a></li>
				</ol>
			</div>
		</section><!-- banner -->


		<section class="about-product new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6">
						<div class="img-holder">
							<img src="{{ product.image.url }}" alt="" class="img-responsive">
						</div>
					</div>
					<div class="col-lg-6 col-md-6">
						<div class="block-stl6">
							<h2>{{ product.title }}</h2>
							<p class="price"><span>{{ product.price }} sum</span></p>
							<p class="rating-star"><i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i> <span>( 245 Ratings & 355 Reviews )</span> </p>
{#							<p class="ab-txt">{{ product.description }}</p>#}
							<form action="#">
								<div class="form-block">
									<div class="row">
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Size :</label>
												<select class="c_select">
													<option value="">Large</option>
													<option value="">Medium</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Add toppings :</label>
												<select class="c_select">
													<option value="">Veggies</option>
													<option value="">Medium</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Crust :</label>
												<select class="c_select">
													<option value="">Pan</option>
													<option value="">Medium</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group">
												<label>Qty :</label>
												<select class="c_select">
													<option value="">01</option>
													<option value="">02</option>
													<option value="">03</option>
													<option value="">04</option>
													<option value="">05</option>
													<option value="">06</option>
												</select>
											</div>
										</div>
										<div class="col-lg-6 col-md-6 col-sm-6">
											<div class="form-group btn-block">
												<a href="#" class="btn1 stl2">buy now</a>
											</div>
										</div>

									</div>
								</div>
							</form>

						</div>
					</div>
				</div>
			</div>
			<div class="clearfix"></div>
		</section>

		<div class="center-wrapper new-block">
			<div class="fixed-bg parallax" style="background-color: white;"></div>
			<div class="overlay"></div>
			<div class="inner-wrapper">
                <section class="blog-single">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <div class="bg-single">
                            <div class="bg-single-new">
                                <div class="image-heading">
                                    <h2>Descriptions</h2>
                                    <p>{{ product.description }}</p>
                                </div>
                                <div class="image-heading2">
                                    <ul>
                                        <li><i class="flaticon-price-tag"></i></li>
                                        {% for rs in category %}
                                        <li><a href="{% url 'category_product' rs.id rs.slug %}">{{ rs.title }}</a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            <!--image-heading2-->
                        {% for rs in comments %}
                            <div class="image-heading3">
                                <div class="comment-block comment-short">
                                    <div class="comment">
                                        <img src="{% static 'images/profile-pic1.png'%}" alt="">
                                    </div>

                                    <div class="comment-new">
                                        <ul>
                                            <li><i class="flaticon-profile"></i>{{ rs.name }}</li>
                                            <li><i class="flaticon-calendar"></i>{{ rs.create_at }}</li>
                                        </ul>
                                        <p>{{ rs.comment }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                            <!--image heading3-->

                            <div class="leave-reply image-heading3">
                                <h2>LEAVE AND REPLY :</h2>
                                <form method="post" action="/product/addcomment/{{ product.id }}">
                                    {% csrf_token %}
                                    <div class="form-group nm">
                                        <input type="text" name="name" placeholder="Name" class="form-control">
                                    </div>
                                     <div class="form-group nm">
                                        <input type="number" name="phone" placeholder="Phone" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <textarea placeholder="Write your comment.." name="comment" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn1 stl2" type="submit">POST COMMENT</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </section>
            </div>






				<section class="related-products new-block">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="title">
									<p class="top-h">winter special offer</p>
									<h2>related products</h2>
									<div class="btm-style"><span><img src="{% static 'images/btm-style.png'%}" alt="" class="img-responsive"></span></div>
									<p class="bottom-p">Lorem ipsum dolor sit amet consectetur adipiscing elit. <br>Curabitur erat turpis posuere ac ante at</p>
								</div>
							</div>
							<div class="col-lg-12">
								<div class="item-slider2 owl-carousel owl-theme">
                                    {% for rs in product_all %}
									<div class="item">
										<div class="block-stl2">
						    				<div class="img-holder">
						    					<img src="{{ rs.image.url }}" alt="" class="img-responsive">
						    				</div>
						    				<div class="text-block">
						    					<h3>{{ rs.title }}</h3>

						    					<p class="price"><span>{{ rs.price }} sum</span> </p>
						    				</div>
						    				<div class="btn-sec">
					    						<a href="{% url 'product_detail' rs.id rs.slug %}" class="btn1 stl2">About More</a>

				    						</div>
						    			</div>
									</div>
                                    {% endfor %}
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>

		<footer class="main-footer new-block">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
						<div class="footer-head">
							<h3>About Us :</h3>
						</div>
						<div class="footer-content">
							<p>Donec tincidunt, augue a convallis cursus, sapien eros efficitur sem in placerat sapien est nec quam.</p>
							<a href="#" class="link">Read More</a>
							<ul class="list-unstyled card-block">
								<li><a href="#"><img src="{% static 'images/crt1.png'%}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/crt2.png'%}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/crt3.png'%}" alt=""></a></li>
								<li><a href="#"><img src="{% static 'images/crt4.png'%}" alt=""></a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
						<div class="our-company">
							<div class="footer-head">
								<h3>Our Company :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#">New In</a></li>
									<li><a href="#">Pizza murgon</a></li>
									<li><a href="#">Burger king</a></li>
									<li><a href="#">Fried Chicken</a></li>
									<li><a href="#">Mocktail</a></li>
									<li><a href="#">Top Brands</a></li>
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
						<div class="footer-head">
							<h3>Customer Care :</h3>
						</div>
						<div class="footer-content">
							<ul class="list-unstyled">
								<li><a href="#">New In</a></li>
								<li><a href="#">Pizza murgon</a></li>
								<li><a href="#">Burger king</a></li>
								<li><a href="#">Fried Chicken</a></li>
								<li><a href="#">Mocktail</a></li>
								<li><a href="#">Top Brands</a></li>
							</ul>
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
						<div class="flickr">
							<div class="footer-head">
								<h3>Get Flickr :</h3>
							</div>
							<div class="footer-content">
								<ul class="list-unstyled">
									<li><a href="#"><img src="{% static 'images/Layer-12.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-13.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-14.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-15.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-16.png' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-17.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-18.jpg' %}" alt="" class="img-responsive"></a></li>
									<li><a href="#"><img src="{% static 'images/Layer-19.jpg' %}" alt="" class="img-responsive"></a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div class="copy-right">
			<div class="container">
				<p><a target="_blank" href="https://www.templateshub.net">Templates Hub</a></p>
				<ul class="social-nav">
					<li><a href="#"><i class="flaticon-facebook-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-twitter"></i></a></li>
					<li><a href="#"><i class="flaticon-google-plus-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-dribbble-logo"></i></a></li>
					<li><a href="#"><i class="flaticon-behance"></i></a></li>
				</ul>
			</div>
		</div>
		
		<span id="go_to_top" class="go-to-top"><i class="flaticon-up-arrow"></i></span>

		<div class="theme-menu hide-sidebar">
			<h2>Choose your color</h2>
			<div id="style-switcher">
				<ul class="colors theme-btn">
					<li data-path="css/colors.css" data-url="images"> 
						<p class="btn clr-style" style="background:#c10a28;"></p>
					</li>
					<li data-path="css/colors2.css" data-url="images/clr2">
						<p class="btn clr-style" style="background:#f1b601;"></p>
					</li>
					<li data-path="css/colors3.css" data-url="images/clr3">
						<p class="btn clr-style" style="background:#0a84c1;"></p>
					</li>
					<li data-path="css/colors4.css" data-url="images/clr4"> 
						<p class="btn clr-style" style="background:#02a8aa;"></p>
					</li>
					<li data-path="css/colors5.css" data-url="images/clr5">
						<p class="btn clr-style" style="background:#db780d;"></p>
					</li>
					<li data-path="css/colors6.css" data-url="images/clr6">
						<p class="btn clr-style" style="background:#e54c04;"></p>
					</li>
				</ul>
			</div>
			<button class="btn btn-clr"><i class="fas fa-paint-brush"></i></button>
		</div>
	</div><!-- #wrapper -->


	<!-- include jQuery -->
    <script src="{% static 'js/jquery.min.js'%}"></script>
    <!-- bootstrap -->

    <!-- bootstrap -->
    <script src="{% static 'js/owl.carousel.min.js'%}"></script>
    <!-- slick slider  -->
	<script src="{% static 'js/slick.js'%}"></script>
	<!-- dscountdown  -->
	<script src="{% static 'js/dscountdown.min.js'%}"></script>
    <!-- jquery.nice-select -->
    <script src="{% static 'js/jquery.nice-select.js'%}"></script>
    <!-- magnific-popup -->
    <script src="{% static 'js/jquery.magnific-popup.min.js'%}"></script>
    <!-- Mixitup -->
    <script src="{% static 'js/mixitup.min.js'%}"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBP1lPhUhDU6MINpruPDinAzXffRlpzzFo"></script>
	<script src="{% static 'js/map.js'%}"></script>
    <!-- custom js -->
    <script src="{% static 'js/custom.js'%}"></script>
</body>

</html>